body{
    font-family: monospace;
    color: white;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 80px;
    color: #DA7979;
    margin: 0px;
}

/*------------------control_buttons------------------*/

.control_buttons{
    float: left;
    width: 26%;
    margin-left: 2%;
}

.control_buttons h2{
    font-size: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.control_buttons h3{
    font-size: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.control_buttons p{
    font-size: 30px;
}

.control_buttons p action_complete{
    color: green;
}

.status.successful{
    color: green;
}

.status.unsuccessful{
    color: red;
}



/*------------------pitch_box------------------*/

.pitch_box{
    float: right;
    width: 70%;
}

.pitch_box h2{
    color:#DA7979;
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.pitch_box svg{
    margin-left: 10%;
    text-align: center;
}

/*------------------Form container------------------*/
form {
    font-family: monospace;
    margin: 20px 0;
}

/* Label styling */
form label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 20px;
}

/* Select box styling */
form select {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
}

/* Change border color on focus */
form select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

form button{
    font-size: 30px;
    padding: 2%;
    margin-top: 5%;
    margin-left: 4%;
    width: 40%;
    
}

/* Submit button styling */
form button[type="submit"] {
    background-color: #007b
}

form label:successful{
    margin-top: 5%;
    
}

.save_buttons{
    margin: 0px;
    padding: 0px;
}