<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KippInsights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
    
    <h1>KippInsights</h1>
    <hr>


    <div class="control_buttons">
        
        <h2>Sequence {{sequence_id}}</h2>
        <h2>Action {{action_id}}</h2>
        <hr>
        
        <!-- Dropdown Form -->
        <form method="POST" action="/add_event">
            <label for="action_type">Select action type:</label>
            <select name="action_type" id="action_type">
                <option value="pass">Pass</option>
                <option value="shot">Shot</option>
                <option value="dribble">Dribble</option>
            </select>

            
            <!-- Hidden inputs to store coordinates -->
            <input type="hidden" id="x_start" name="x_start">
            <input type="hidden" id="y_start" name="y_start">
            <input type="hidden" id="x_end" name="x_end">
            <input type="hidden" id="y_end" name="y_end">


            <button type="submit">Save Event</button>
            <button>Reset current sequence</button>

            <label for="successful">Successful?</label>
            <input type="checkbox" name="successful" id="successful" checked>

            
        </form>

        <hr>

        <h3>Action Details:</h3>

        <p id="type">Type: pass </p>
        <p id="start_coords">Start location: </p>
        <p id="end_coords">End location:</p>
        <p id="success">Successful: yes</p>
        
        <div class="save_buttons">
            <form action="/save" method="POST">
                <button type="submit" id="save" onclick="save_message()">Save sequence</button>
            </form>
            
            <button type="submit" id="save" onclick="save_to_file()">Save to file</button>
            
        </div>

    </div>
    
    <div class="pitch_box">
        <h2>Action Map</h2>

        <svg id="pitch" width="920" height="592" style="border:1px solid #000; cursor:pointer;">
            <!-- Pitch background -->
            
            <!-- Halfway line -->
            <line x1="460" y1="0" x2="460" y2="592" stroke="white" stroke-width="2"/>
        
            <!-- Center circle -->
            <circle cx="460" cy="296" r="80" fill="none" stroke="white" stroke-width="2"/>

            <!-- Center spot -->
            <circle cx="460" cy="296" r="3" fill="white" stroke="white" stroke-width="2"/>

            <!-- Left penalty area -->
            <rect x="0" y="120" width="144" height="352" fill="none" stroke="white" stroke-width="2"/>

            <!-- Left six yard box -->
            <rect x="0" y="206" width="48" height="180" fill="none" stroke="white" stroke-width="2"/>

            <!-- Left penalty spot-->
            <circle cx="84" cy="296" r="3" fill="white" stroke="white" stroke-width="2"/>

            <!-- Right penalty area -->
            <rect x="776" y="120" width="144" height="352" fill="none" stroke="white" stroke-width="2"/>
            
            <!-- right six yard box -->
            <rect x="872" y="206" width="48" height="180" fill="none" stroke="white" stroke-width="2"/>

            <!-- Left penalty spot-->
            <circle cx="836" cy="296" r="3" fill="white" stroke="white" stroke-width="2"/>

            {% for e in events if e.sequence_id == sequence_id %}
            <line 
                x1="{{ (e.x_start_coord | float) * 920 }}" 
                y1="{{ (e.y_start_coord | float) * 592 }}" 
                x2="{{ (e.x_end_coord | float) * 920 }}" 
                y2="{{ (e.y_end_coord | float) * 592 }}" 
                stroke="{% if e.action_type == 'pass' %}blue{% elif e.action_type == 'shot' %}red{% else %}green{% endif %}" 
                stroke-width="3"
                opacity="0.7"
            />

            <circle cx="{{ (e.x_start_coord | float) * 920 }}" cy="{{ (e.y_start_coord | float) * 592 }}" r="5" fill="green"/>
            <circle cx="{{(e.x_end_coord | float) * 920 }}" cy="{{ (e.y_end_coord | float) * 592 }}" r="5" fill="red"/>
            {% endfor %}
            
        </svg>


    </div>

</body>
</html>

<script>

function save_message(){
    window.alert("Sequence saved")
}

function save_to_file(){
    let filename = prompt("Enter filename:");

    if (filename) {
        // Create a hidden form dynamically
        let form = document.createElement("form");
        form.method = "POST";
        form.action = "{{ url_for('save_to_file') }}";

        // Add filename input
        let input = document.createElement("input");
        input.type = "hidden";
        input.name = "filename";
        input.value = filename;
        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    }
}

const pitch = document.getElementById("pitch");
const pitchWidth = pitch.clientWidth;   // 920
const pitchHeight = pitch.clientHeight; // 592

let clicks = 0;
let startMarker, endMarker, line;

// updates the successful field 
const checkbox = document.getElementById("successful");
const statusText = document.getElementById("success");

    checkbox.addEventListener("change", () => {
        if (checkbox.checked) {
            statusText.textContent = "Successful: Yes";
        } else {
            statusText.textContent = "Successful: No";
        }
    });

    const dropdown = document.getElementById("action_type");
    const preview = document.getElementById("type");

    // Update preview text whenever selection changes
    dropdown.addEventListener("change", () => {
        preview.textContent = "Type: " + dropdown.value;
    });



pitch.addEventListener("click", function(event) {
    const rect = pitch.getBoundingClientRect();

    // Raw pixel coordinates
    const x = event.clientX - rect.left;
    const y = event.clientY - rect.top;

    // Normalize between 0 and 1
    const normX = (x / pitchWidth).toFixed(4); // round to 4 decimal places
    const normY = (y / pitchHeight).toFixed(4);

    

    if (clicks === 0) {
        if (startMarker) pitch.removeChild(startMarker);
        if (endMarker) pitch.removeChild(endMarker);
        if (line) pitch.removeChild(line);

        // Draw start marker (use raw pixels for display)
        startMarker = document.createElementNS("http://www.w3.org/2000/svg", "circle");
        startMarker.setAttribute("cx", x);
        startMarker.setAttribute("cy", y);
        startMarker.setAttribute("r", 6);
        startMarker.setAttribute("fill", "green");
        pitch.appendChild(startMarker);

        // Store normalized coordinates
        document.getElementById("x_start").value = normX;
        document.getElementById("y_start").value = normY;

        //displays selected start value
        document.getElementById("start_coords").innerHTML = "Start location: " + normX + "," + normY
        clicks = 1;
    } else if (clicks === 1) {
        endMarker = document.createElementNS("http://www.w3.org/2000/svg", "circle");
        endMarker.setAttribute("cx", x);
        endMarker.setAttribute("cy", y);
        endMarker.setAttribute("r", 6);
        endMarker.setAttribute("fill", "red");
        pitch.appendChild(endMarker);

        // Draw line using raw pixels for display
        line = document.createElementNS("http://www.w3.org/2000/svg", "line");
        line.setAttribute("x1", startMarker.getAttribute("cx"));
        line.setAttribute("y1", startMarker.getAttribute("cy"));
        line.setAttribute("x2", x);
        line.setAttribute("y2", y);
        line.setAttribute("stroke", "yellow");
        line.setAttribute("stroke-width", "2");
        pitch.appendChild(line);

        // Store normalized end coordinates
        document.getElementById("x_end").value = normX;
        document.getElementById("y_end").value = normY;

        //displays selected end value
        document.getElementById("end_coords").innerHTML = "End location: " + normX + "," + normY
        clicks = 0;
    }
    else if (clicks > 2 ){
        document.getElementById("end_coords").innerHTML = "End location:"
        document.getElementById("start_coords").innerHTML = "Start location:"
    }
});

    </script>
    