<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KippInsights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
    
    <h1>KippInsights</h1>
    <hr>


    <div class="control_buttons">
        

        <h2>Action 1</h2>
        <hr>
        
        <!-- Dropdown Form -->
        <form method="POST" action="/">
            <label for="action_type">Select action type:</label>
            <select name="action_type" id="action_type">
                <option value="pass">Pass</option>
                <option value="shot">Shot</option>
                <option value="dribble">Dribble</option>
            </select>
            <button type="submit">Save Event</button>
        </form>

        <h3>Action Details:</h3>

        {% if type == 'pass' %}
        <p>Type: {{type}}</p>
        <!--<p>Player: {{player}}</p>-->
        <p>Start location: {{x_start_coordinate}},{{y_start_coordinate}}</p>
        <p>End location: {{x_end_coordinate}},{{y_end_coordinate}}</p>
    
        {% if successful == True %}
        <p class="status successful">Complete</p>
        {% else %}
        <p class="status unsuccessful">Incomplete</p>
        {% endif %}
        
        {% endif %}

        

        {% if type == 'shot' %}
        <p>Type: {{type}}</p>
        <!--<p>Player: {{player}}</p>-->
        <p>Shot location: {{shot_x_coordinate}},{{shot_y_coordinate}}</p>
        
        {% if successful == True %}
        <p class="status successful">Complete</p>
        {% else %}
        <p class="status unsuccessful">Incomplete</p>
        {% endif %}
        
        {% endif %}

        {% if type == 'dribble' %}
        <p>Type: {{type}}</p>
        <!--<p>Player: {{player}}</p>-->
        <p>Start location: {{x_start_coordinate}},{{y_start_coordinate}}</p>
        <p>End location: {{x_end_coordinate}},{{y_end_coordinate}}</p>
        {% if successful == True %}
        <p class="status successful">Complete</p>
        {% else %}
        <p class="status unsuccessful">Incomplete</p>
        {% endif %}

        {% endif %}


    </div>
    
    <div class="pitch_box">
        <h2>Action Map</h2>

        <svg id="pitch" width="920" height="592" style="border:1px solid #000; cursor:pointer;">
            <!-- Pitch background -->
            
            <!-- Halfway line -->
            <line x1="460" y1="0" x2="460" y2="592" stroke="white" stroke-width="2"/>
        
            <!-- Center circle -->
            <circle cx="460" cy="296" r="80" fill="none" stroke="white" stroke-width="2"/>

            <!-- Center spot -->
            <circle cx="460" cy="296" r="3" fill="white" stroke="white" stroke-width="2"/>

            <!-- Left penalty area -->
            <rect x="0" y="120" width="144" height="352" fill="none" stroke="white" stroke-width="2"/>

            <!-- Left six yard box -->
            <rect x="0" y="206" width="48" height="180" fill="none" stroke="white" stroke-width="2"/>

            <!-- Left penalty spot-->
            <circle cx="84" cy="296" r="3" fill="white" stroke="white" stroke-width="2"/>

            <!-- Right penalty area -->
            <rect x="776" y="120" width="144" height="352" fill="none" stroke="white" stroke-width="2"/>
            
            <!-- right six yard box -->
            <rect x="872" y="206" width="48" height="180" fill="none" stroke="white" stroke-width="2"/>

            <!-- Left penalty spot-->
            <circle cx="836" cy="296" r="3" fill="white" stroke="white" stroke-width="2"/>
            
        </svg>
    </div>

</body>
</html>

